:root {

  --extensao-icone-branco:    	            url(../imagens/icones/extensao/branco.svg);
  --extensao-icone-colorido:		            url(../imagens/icones/extensao/colorido.svg);

  --extensao-icone-advogado:	              url(../imagens/icones/advogado.svg);
  --extensao-icone-agenda:	                url(../imagens/icones/agenda.svg);
  --extensao-icone-arroba:	                url(../imagens/icones/arroba.svg);
  --extensao-icone-bb:	                    url(../imagens/icones/bb.svg);
  --extensao-icone-bug:	                    url(../imagens/icones/bug.svg);
  --extensao-icone-cef:	                    url(../imagens/icones/cef.svg);
  --extensao-icone-copiar:	                url(../imagens/icones/copiar.svg);
  --extensao-icone-copiado:	                url(../imagens/icones/copiado.svg);
  --extensao-icone-correios:	              url(../imagens/icones/correios.svg);
  --extensao-icone-egestao:	                url(../imagens/icones/egestao.svg);
  --extensao-icone-engrenagem:	            url(../imagens/icones/engrenagem.svg);
  --extensao-icone-gigs:	                  url(../imagens/icones/gigs.svg);
  --extensao-icone-github:	                url(../imagens/icones/github.svg);
  --extensao-icone-google:                  url(../imagens/icones/google.svg);
  --extensao-icone-google-agenda:           url(../imagens/icones/google-agenda.svg);
  --extensao-icone-google-drive:            url(../imagens/icones/google-drive.svg);
  --extensao-icone-google-meet:	            url(../imagens/icones/google-meet.svg);
  --extensao-icone-google-tradutor:	        url(../imagens/icones/google-tradutor.svg);
  --extensao-icone-headset:	                url(../imagens/icones/headset.svg);
  --extensao-icone-html:	                  url(../imagens/icones/html.svg);
  --extensao-icone-informacoes:             url(../imagens/icones/i.svg);
  --extensao-icone-infojud:                 url(../imagens/icones/receita-federal.svg);
  --extensao-icone-intranet:	              url(../imagens/icones/intranet.svg);
  --extensao-icone-lupa:	                  url(../imagens/icones/lupa.svg);
  --extensao-icone-lupa-interrogacao:	      url(../imagens/icones/lupa-interrogacao.svg);
  --extensao-icone-malote:	                url(../imagens/icones/malote.svg);
  --extensao-icone-martelo:	                url(../imagens/icones/martelo.svg);
  --extensao-icone-operador-adicao:         url(../imagens/icones/operador-adicao.svg);
  --extensao-icone-operador-divisao:	      url(../imagens/icones/operador-divisao.svg);
  --extensao-icone-operador-multiplicacao:	url(../imagens/icones/operador-multiplicacao.svg);
  --extensao-icone-operador-subtracao:    	url(../imagens/icones/operador-subtracao.svg);
  --extensao-icone-painel:	                url(../imagens/icones/painel.svg);
  --extensao-icone-picareta:                url(../imagens/icones/picareta.svg);
  --extensao-icone-pje:		                  url(../imagens/icones/pje.svg);
  --extensao-icone-recarregar:              url(../imagens/icones/recarregar.svg);
  --extensao-icone-renajud:                 url(../imagens/icones/renajud.svg);
  --extensao-icone-sigeo:		                url(../imagens/icones/sigeo.svg);
  --extensao-icone-sisbajud:                url(../imagens/icones/sisbajud.svg);
  --extensao-icone-tabela:                  url(../imagens/icones/tabela.svg);
  --extensao-icone-telegram:                url(../imagens/icones/telegram.svg);
  --extensao-icone-termos:	                url(../imagens/icones/termos.svg);
  --extensao-icone-tst:		                  url(../imagens/icones/tst.svg);
  --extensao-icone-whatsapp:                url(../imagens/icones/whatsapp.svg);
  --extensao-icone-wikivt:	                url(../imagens/icones/wikivt.svg);
  --extensao-icone-youtube:	                url(../imagens/icones/youtube.svg);
  --extensao-icone-zoom:  	                url(../imagens/icones/zoom.svg);

}

