@import url("/css/navegador.css");

main{
	color:rgba(var(--extensao-cor-branco),1);
	height:calc(100vh - 70px);
	margin:40px 0 30px 0;
	padding:1rem;
  text-align:center;
}

erro{
  color:rgba(var(--extensao-cor-vermelho),1);
}

textarea{
  background:rgba(var(--extensao-cor-preto),0.8);
  color:rgba(var(--extensao-cor-verde),1);
  font-family:monospace;
  font-size:1rem;
  font-weight:600;
  padding:1rem;
  width:100%;
  min-height:300px;
}
